@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0D0D0D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-schedule {
  @apply inline-flex cursor-pointer items-center select-none text-center px-6 py-4 md:px-4 md:py-2 rounded-full overflow-hidden text-2xl md:text-base bg-yellow-400/2.5
         border border-yellow-500/50 backdrop-blur-sm shadow-[inset_0_1px_0px_rgba(242,241,187,0.75),0_0_9px_rgba(0,0,0,0.2),0_3px_8px_rgba(0,0,0,0.15)]
         hover:bg-yellow-400/30 duration-300 before:absolute before:inset-0 before:rounded-lg before:bg-linear-to-br before:from-yellow-300/60 before:via-transparent
         before:to-transparent before:opacity-70 before:pointer-events-none after:absolute after:inset-0 after:rounded-lg after:bg-linear-to-tl after:from-yellow-300/30
         after:via-transparent after:to-transparent after:opacity-50 after:pointer-events-none transition antialiased;
}

@theme {
  --animate-background: move 5s infinite alternate linear;

  @keyframes move {
      0% {
        background-position: 0 50%;
      }
      100% {
        background-position: 100% 50%;
      }
  }
}

@theme {
  --animate-marquee: marquee 30s linear infinite forwards;

  @keyframes marquee {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
  }
}

@layer utilities {
   .pause {
     animation-play-state: paused;
   }
}